.App {
  background-color: #06283D;
}


.movie-list {
  display: grid;
  grid-template-columns: repeat(3,minmax(250px,1fr));
  grid-gap: 1em;

  /* flex-wrap:wrap;
  justify-content: space-around; */

}

.h3{
  color:rgb(255, 220, 161);
}

.movie-picture,.movie-list img{
  border-radius: 25px;
  padding: 1em;
  width: auto;
  height: 10em;
  background-color: rgb(49, 214, 214);
  margin: 1em;
  justify-content:center;
  box-shadow: 0 0 .70em rgb(54, 46, 46);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
  /* flex-direction: column; */

}
.box{
  justify-content: space-around;
}

.filmline1 {
  text-align: center;
}

.movie-poster{
  align-items: center;
}

.navbar{
  text-align: center;
}